body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wordholder {
    display: flex;
    flex-direction: column;
    margin: 40px 0 10px 5px;
}

.word {
    display: flex;
    flex-direction: row;
    margin: 1.5px auto;
}

.usededChars {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;

}

.keyboardholder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    max-width: 550px;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    width: 35px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 2px;
    background: radial-gradient(rgba(240, 239, 239, 0.849), rgba(0, 0, 0, 0.61));
    cursor: pointer;
}

.roundButton {
    visibility: hidden;
    background-color: green;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin: -10px auto;
}
